<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magizdev.easytask"
    android:versionCode="4"
    android:versionName="4.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WEAK_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name=".store.EasyTaskProvider"
            android:authorities="com.magizdev.easytask" />

        <activity
            android:name=".TaskListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskEditActivity"
            android:label="@string/task_edit_label"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TaskEditActivity" />
        </activity>

        <receiver android:name=".AlarmReceiver" >
        </receiver>

        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />
        <activity
            android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize" />
        <activity android:name="com.tencent.exmobwin.banner.MobWINBrowserActivity" >
        </activity>
        <activity
            android:name="com.tencent.exmobwin.banner.DialogActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>

        <meta-data
            android:name="BaiduMobAd_DEBUG_TOKEN"
            android:value="adview" />
        <meta-data
            android:name="AdView_CHANNEL"
            android:value="GFAN" >
        </meta-data>
    </application>

</manifest>